<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>thymeleaf</title>
    </head>

    <body>
        <h1>Thymeleaf</h1>
        <h4><span th:text="'Welcome, ' + ${username}?:'Guest'"></span>，你好！</h4>
        <p th:text="null?:'我不是空值'"></p>
        <p>----</p>
        <p><a th:href="@{/}">返回主页</a></p>
        <p><a th:href="@{/123}">to ./123</a></p>

        <p><font color="red">th:if中条件成立时才显式结果</font> </p>
        <span th:if="${username != null}">username不为空</span><br/>
        <div th:switch="${role}">
            <p th:case="'admin'">管理员</p>
            <p th:case="*">其他</p>
        </div>
    </body>
</html>